###########################################################################
# This is a very simple sample configuration file sufficient to start an  #
# xrootd file caching proxy server using the default port 1094. This      #
# server runs by itself (stand-alone) and does not assume it is part of a #
# cluster. You can then connect to this server to access files in '/tmp'. #
# Consult the the reference manuals on how to create more complicated     #
# configurations.                                                         #
#                                                                         #
# On successful start-up you will see 'initialization completed' in the   #
# last message. You can now connect to the xrootd server.                 #
#                                                                         #
# Note: You should always create a *single* configuration file for all    #
# daemons related to xrootd.                                              #
###########################################################################

# Allow access to path with given prefix.
#
all.export  /test/

# Load the proxy plugin and the disk caching plugin.
#
ofs.osslib  libXrdPss.so
pss.cachelib libXrdFileCache.so

# Tell the proxy where the data is coming from (arbitrary).
#
pss.origin source.edu:1094

# Specify where the local file system name space is actually rooted.
#
oss.localroot /data/xrd

# Tell maximum allowed RAM usage.
#
pfc.ram 16g


# More configuration files can be added in /etc/xrootd/config.d/                                                                                                             
# For example /etc/xrootd/config.d/10-mygrid.cfg and                                                                                                                        
# /etc/xrootd/config.d/98-mysite-specifics.cfg                                                                                                                              
#                                                                                                                                                                            
continue /etc/xrootd/config.d/
