[Unit]
Description=XRootD xrootd deamon instance %I
Documentation=man:xrootd(8)
Documentation=http://xrootd.org/docs.html
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/xrootd -l /var/log/xrootd/xrootd.log -c /etc/xrootd/xrootd-%i.cfg -k fifo -s /var/run/xrootd/xrootd-%i.pid -n %i
User=xrootd
Group=xrootd
Type=simple
Restart=on-abort
RestartSec=0
KillMode=control-group

[Install]
RequiredBy=multi-user.target
