
# This is a sample configuration file containing different
# SciTokens issuer setups

# Global section is optional
# Possible options are:
# - audience: A comma separated list of acceptable audiences
#[Global]
#audience = https://testserver.example.com/, MySite

# If the audience has commas in it, or if the audience has other special characters,
# you can use audience_json, which is a json representation of the acceptable audience(s)
#audience_json = [ "this,is,a,single,audience", "it can even have spaces" ]
#audience_json = "single,audience,with,commas,and:"


[Issuer OSG-Connect]

issuer = https://scitokens.org/osg-connect
base_path = /stash
# For the OSG Connect xrootd host, the `sub` claim should
# be identical to the local Unix username.
map_subject = True

[Issuer CMS]

issuer = https://scitokens.org/cms
base_path = /user/cms
# For CMS, there is no relationship between local usernames
# and the VO name.
map_subject = False

